<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div id="user-form">
    <h3>Для модификации, введите новые значения и нажмите кнопку "Применить"</h3>
    <form action="/admin/save" modelAttribute="user">
        <div class="user-label"><label>Username</label></div>
        <div><input class="create-user-input" name="username" type="text" th:value="${user.getUsername()}"></div>
        <br>
        <div class="user-label"><label>Password</label></div>
        <div><input class="create-user-input" name="password" type="password"></div>
        <br>
        <div class="user-label"><label>Имя</label></div>
        <div><input class="create-user-input" name="firstName" type="text" th:value="${user.getFirstName()}"></div>
        <br>
        <div class="user-label"><label>Фамилия</label></div>
        <div><input class="create-user-input" name="lastName" type="text" th:value="${user.getLastName()}"></div>
        <br>
        <div class="user-label"><label>E-mail</label></div>
        <div><input class="create-user-input" name="email" type="text" th:value="${user.getEmail()}"></div>
        <br>
        <div class="user-label"><label>Возраст</label></div>
        <div><input class="create-user-input" name="age" type="text" th:value="${user.getAge()}"></div>
        <br>
        <table border="1" th:if="${user.getRoles()!=null}">
            <tr>
                <th>Роль</th>
                <th></th>
            </tr>

            <tr th:each="role :${user.getRoles()}">
                <td th:utext="${role.getRole()}">VALUE</td>
                <td>
                    <p th:if="${role.getRole()}=='ROLE_ADMIN'">
                        <input th:attr="onclick='window.location.href = \'' + @{/admin/role/removeAdminRole?id={id}(id=${user.getId()})} + '\''"
                               type="button" value="Удалить">

                    </p>
                    <p th:if="${role.getRole()}=='ROLE_USER'">
                        <input th:attr="onclick='window.location.href = \'' + @{/admin/role/removeUserRole?id={id}(id=${user.getId()})} + '\''"
                               type="button" value="Удалить">
                    </p>
                </td>
            </tr>

        </table>

        <div th:if="${user.getRoles().size<2}" th:each="role :${user.getRoles()}">
            <input th:unless="${role.getRole()}=='ROLE_ADMIN'"
                   th:attr="onclick='window.location.href = \'' + @{/admin/role/addAdminRole?id={id}(id=${user.getId()})} + '\''"
                   type="button" value="Добавить роль ADMIN">
            <input th:unless="${role.getRole()}=='ROLE_USER'"
                   th:attr="onclick='window.location.href = \'' + @{/admin/role/addUserRole?id={id}(id=${user.getId()})} + '\''"
                   type="button" value="Добавить роль USER">
        </div>

        <input name="id" type="hidden" th:value="${user.getId()}">
        <br>

        <input class="create-user-form-button" type="submit" value="Применить"/>
    </form>

</div>

</body>
</html>